nav{
	background-color: #02142f;
}



.parallax-container{
	min-height: 380px;
	line-height: 0px;
	height: auto;
	color:rgba(255,255,255,.9);
	position: relative;
	overflow: hidden;
}
.parallax-container .section{
	width: 100%
}
.section.no-pad-bot{
	padding-bottom: 0;
}
.section{
	padding-top: 1rem;
}
.container{
	margin: 0 auto;
	max-width: 120px;
}
.teal-text.text-lighten-2{
	color: #b04db6 !important;
	font-weight: 400;
	font-family: appleberry, sans-serif;
}
.center{
	text-align: center;
}
h1{
	font-size: 4.2rem;
	line-height: 110%
	margin:2.1rem 0 1.68rem 0;
	

}
.parallax {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.parallax img{
	position: absolute;
	left: 50%;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	display: block;
	transform: translate3d(-50%, 201px, 0px);
}
.container .row{
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}

.row{
	margin-bottom: 20px;

}

}
.row .col{
	float: left;
	box-sizing: border-box;
	padding: 0 0.75rem;
	min-height: 1px;
}
.light{
	font-weight: 300;
}
h5{
	font-size: 1.64rem;
	line-height: 110%;
	margin: 0.82rem 0 0.656rem 0;
	color: black;
	font-family: roboto;
}
.container{
	margin: 0 auto
	max-width 1280px;
}
.teal.lighten-1{
	background-color:rgba(177, 52, 140, 0.71) !important
}


.container{ /* estilos de seccion */
	margin: 0 auto;
	max-width: 1280px;
}
.section{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.container .row{
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}
.row{
	margin-bottom: 20px;
}

.row .col {
	float: left;
	box-sizing:  border-box;
	padding:  0 0.75rem;
	min-height: 1px;
}
.icon-block{
	padding: 0 15px;
}
.brown-text {
	color: #0bb4e8 !important;
}
h2{
	font-size:  3.56rem;
	line-height: 110%
	margin: 1.78rem 0 1.424rem 0;
	font-weight: 400;
}
.icon-block .material-icons{
	font-size: inherit;
}
.material-icons{
	text-rendering: optimizeLegibility;
	font-feature-settings:'liga';
	font-family: Mark My Words;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: 1tr;
	-webkit-font-smoothing: antialiased;
}
h5{
	font-size: 1.64rem;
	line-height: 110%
	margin0.82rem 0 0.656rem 0;
}
.light{
	font-weight: 300;
}
p{
	line-height: 2rem;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
.row .col.m4{
	width: 33.3333333333%
	margin-left:auto;
	left: auto;
	right: auto;
}